
.c-nav{
	transition: all 0.3s;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 0;
	z-index: 100;
	&.active{
		padding: 15px 0;
		background: color(primary);
		box-shadow: 2px 2px 10px rgba(color(default-zero), 0.3);
	}
}